@layout('layouts/app')

@section('content')
    <div class="div-bar">Painel dos Moderadores</div>
    <ul>
        <li class="nav-border">
          <i class="fas fa-align-justify"></i>
            <a href="/panel/mod/teamwall">Mensagem do mural</a>
        </li>
    </ul>
@endsection
